<!-- templates/catalog.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Items</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <script type="text/javascript">
        function toggleText(button) {
            // Get the sibling <span> element (the hidden text)
            var hiddenText = button.nextElementSibling;

            // Toggle the visibility
            if (hiddenText.style.display === "none" || hiddenText.style.display === "") {
                hiddenText.style.display = "inline";
                button.innerText = "Hide Details";
            } else {
                hiddenText.style.display = "none";
                button.innerText = "Show Details";
            }
        }
    </script>
</head>
<body>
    <h1>Catalog Items</h1>
    <div style="margin: 20px">
        <a href="{{ url_for('add_catalog_item') }}">
            <button type="button">Add New Item</button>
        </a>
        <a href="{{ url_for('catalog_from_image') }}">
            <button type="button">Item from image</button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Input</th>
                <th>Title</th>
                <th>Short Description</th>
                <th>Long Description</th>
                <th>Specifications</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.input }}
                    {% if item.image_url %}
                        <br/><br/><img src="{{ item.image_url }}" style="max-width: 200px; max-height: 150px;">
                    {% endif %}
                </td>
                <td>{{ item.title }}</td>
                <td>
                    {{ item.short_description }}
                    <div style="margin: 20px">
                        <a href="{{ url_for('catalog_realtime', id=item.id) }}">
                            <button type="button">Realtime modification!</button>
                        </a>
                    </div>
                </td>
                <td>{{ item.long_description }}</td>
                <td>
                    <button onclick="toggleText(this)">Show Details</button>
                    <span class="hidden-text"><pre>{{ item.specifications | tojson(indent=4) | safe }}</pre></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
