<!-- templates/catalog_realtime.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <title>Realtime Catalog Item</title>
</head>
<body>
    <main class="container">
        <h1>Realtime Catalog Item</h1>
        
        <article>
            <header><strong>Short Description:</strong></header>
            {{ item.short_description }}
        </article>

        <form action="{{ url_for('catalog_realtime') }}" method="GET">
            <!-- Include the 'id' as a hidden field -->
            <input type="hidden" name="id" value="{{ item.id }}">

            <label>
                Enter Search Query:
                <input type="text" name="search_query" placeholder="Enter your search query here..." value="{{ search_query }}">
            </label>
            <input type="submit" value="Search"/>
        </form>

        {% if personalized_description %}
        <article>
            <header><strong>Personalized Description:</strong></header>
            {{ personalized_description | safe}}
        </article>
        {% endif %}
    </main>
</body>
</html>
