<!-- templates/catalog_add.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <title>New item from text</title>
</head>
<body>
    <main class="container">
        <h1>New item from text</h1>

        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="{{ url_for('catalog') }}">Home</a></li>
                <li>New item from text</li>
            </ul>
        </nav>

        <form action="{{ url_for('add_catalog_item') }}" method="POST">
            <label>
                Enter Catalog Data:
                <textarea name="inputText" rows=25 placeholder="Enter your text here..."></textarea>
            </label>
            <input type="submit" value="Add"/>
        </form>
    </main>
</body>
</html>
